<!DOCTYPE html>
<html>
<head>
	<title>Dice Roller</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>

	<div class="container py-4" id="app">

		<div class="text-center">
			<h1>Roll the Dice!</h1>
		</div>

		<div class="row ">
			<div class="col-lg-5 card">
				<div class="card-header row text-center">
					<h6 class="col">How Many - Die - Modifier</h6>
				</div>
				<ul class="list-group">
					<li class="list-group-item" id="dice-list-item" v-for="die in dice">
						<div class="row my-2 mx-1 text-center">
							<input class="col" type="number" v-model.number="die.rollTimes">
							<span class="col">d{{die.die}} +</span>
							<input class="col" type="number" v-model.number="die.modifier">	
							<button class="btn btn-primary btn-sm col mx-1" @click="roll(die)">Roll</button>
						</div>
					</li>
				</ul>
			</div>

			<div class="card col-lg-7">
				<ul class="list-group" v-for="item in feed">
					<li class="list-group-item">
						{{ item }}
					</li>
				</ul>
			</div>
		</div>
		<button class="btn btn-danger btn-sm float-right mt-2" @click="reset()">Reset</button>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>